<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentSociety.Properties.Settings.SS_InfoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SS_Info.accdb"
            providerName="System.Data.OleDb" />
        <add name="StudentSociety.Properties.Settings.StudentSociety_SQLConnectionString"
            connectionString="Data Source=LENOVO-PC;Initial Catalog=StudentSociety_SQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>